resources:
{{- range $_, $file := ( exec "bash" (list "-c" "echo -n istio-manifests/*") | splitList " " ) }}
{{ $fileContent := readFile $file  | fromYaml }}
{{ if ne "CustomResourceDefinition" $fileContent.kind -}}
  -
{{ $fileContent | toYaml | indent 4  }}
{{ end -}}
{{ end }}
